* {
  font-family: 'Roboto', sans-serif;
}

img {
  width: 260px;
}

body {
    background-color: #9658f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: #36393e;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }

  h2.login-header-text {
    color: #fff;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 10px;
    font-size: 23px;
    text-align: center;
  }

  h2.register-header-text {
    color: #fff;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 23px;
    text-align: center;
  }

  p.login-header-text {
    color: #a1a1a1;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-top: 0px;
    font-size: 13px;
    font-weight: none;
    text-align: center;
  }

  .form-group {
    margin-bottom: 15px;
  }

  label {
    display: block;
    font-weight: bold;
    color: lightgray;
    padding-bottom: 5px;
    font-size: 13px;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 93%;
    padding: 10px;
    border: 1px solid #282b30;
    border-radius: 3px;
    background-color: #282b30;
    color: white; 
  }

  .btn-login {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #9658f2;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .login-text {
    color: #5c6063;
    font-size: 13px;
  }

  a.login-text  {
    text-decoration: none;
    color: #0070E0;
  }